header {
  height: 400px;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #965300;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  margin-top: 180px;
  margin-left: 20px;
}

.yourname {
  font-size: 36px;
  font-weight: bold;
}