@media (max-width: 768px) {
  body {
    display: block;
  }

  header {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  nav {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    position: static;
    background-color: #965300;
    background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
    background-attachment: fixed;
  }

  main {
    width: 100%;
    margin: 0px;
  }
}