nav {
  background-color: #4065A1;
  color: white;
  border-radius: 5px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 16px;
  padding-top: 56px;
  font-size: 48px;
}

nav > span {
  font-family: 'Bungee', cursive;
}

.newtweet {
  float: right;
  text-align: center;
  font-size: 24px;
}

.newtweet-arrow {
  color: red;
}