article.tweet {
  border: 5px solid #545149;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

article.tweet:hover {
  box-shadow: 5px 5px #cbcbe0;
}

article.tweet header {
  background-color: inherit;
  background-image: none;
  color: #545149;
  height: auto;
  width: auto;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2%;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  color: #cbcbe0;
}

.tweet-proper {
  border-bottom: 5px solid #545149;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: bold;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 0.7em;
  font-weight: bold;
}

.icons {
  display: flex;
  align-self: center;
  color: #42539C;
}

.icons.fas {
  display: flex;
  justify-content: space-between;
}

.fa-flag:hover {
  color: #c29c3a;
}
.fa-retweet:hover {
  color: #c29c3a;
}
.fa-heart:hover {
  color: #c29c3a;
}